<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= $tab_word["#{$langue}"]["profile"]["edit"] %></h1>
    <p class="text-center"><%= $tab_word["#{$langue}"]["profile"]["edit_1"] %></p>
    <div>
      <%= render 'form' %>
    </div>
  </div>
</div>

