/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.flash-container
{
    position: absolute;
    width: 100%;
}

.alert-notice, .alert-alert
{
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
    margin-top: -14px;
}

.up
{
    font-size: 20px;
    text-align: right;
}

h1, h2, h3
{
    font-family: 'Open Sans', sans-serif;
}

.navbar, .home_text
{
    background: #7b4397;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    border: none;
}

.block-visit
{
    background: #7b4397;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    border-radius: 10px;
}

.home_text
{

    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.navbar-brand
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-left: -20px;
}

.navbar-default .navbar-toggle .icon-bar .commu
{
    color: white;
}

.navbar-default .navbar-toggle
{
    border: 2px solid white;
    &:hover, &:focus
    {
	background-color: #00c6ff;
    }
}
