.premier
{
    background-color: #44a08d;
    color: white;
    border-color: white;
    width: 290px;
    height: 55px
}

.second
{
    background-color: white;
    color: #44a08d;
    border-color: #44a08d;
    width: 290px;
    height: 55px;
}

.sous-texte
{
    font-size: 20px;
    font-family: lato;
}

.petit_prem
{
    background-color: #44a08d;
    color: white;
    border-color: white;
    width: 160px;
    height: 50px;
}

.petit_sec
{
    background-color: white;
    color: #44a08d;
    border-color: white;
    width: 160px;
    height: 50px
}
