.premier
{
    background-color: #44a08d;
    color: white;
}

.second
{
    background-color: white;
    color: #44a08d;
}

.sous-texte
{
    font-size: 20px;
    font-family: lato;
}

.petit_prem
{
    background-color: #44a08d;
    color: white;
}

.petit_sec
{
    background-color: white;
    color: #44a08d;
}
