.avatar-show-img
{
    width: 160px;
    height: 160px;
}

.well.profile-block
{
    color: white;
    h4
    {
	margin-top: 0;
    }
}

.profile-btn
{
    color: maroon;
    h2
    {
	margin-top: 0;
    }
}

.well.profile-description
{
    background-color: #7b4397;
    border-color: #4cae4c;
}

.well.profile-contact
{
    background-color: #dc2430;
    border-color: #46b8da;
}

.user-index-avatar
{
    width: 128px;
    height: 128px;
    border-radius: 40%;
}

.well.white-bg
{
    background-color: white;
}
