.avatar-show-img
{
    width: 210px;
    height: 210px;
    border-radius: 15px;
}

.well.profile-block
{
    color: white;
    h4
    {
	margin-top: 0;
    }
}

.profile-btn
{
    color: #1A90AB;
    h2
    {
	margin-top: 0;
    }
}

.user-index-avatar
{
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.well.index-pers
{
    background-color: white;
    border-color: #1A90AB;
    border-radius: 15px;
}
